/*<meta />*/

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.Body
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-family: Georgia;
}

p.Bullet
{
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Calibri;
}

span.Xrefcolor
{
	color: #0000FF;
	text-decoration: none;
}

img.SI_step
{
	height: auto;
	right: 0px;
	max-width: 3.5in;
	width: auto;
}

